body {
  text-align: center; 
  padding-top: 200px;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 50pt;
}

input.big {
  font-size: 2em;
  width: 650px;
  border: 2px solid black;
}

.huge {
  font-size: 120pt;
}

.footer {
  margin-top: 120px;
  font-size: 10pt;
  clear: both;
}

#find-out {
  text-decoration: none;
  color: #000;
  font-size: 15pt;
  border: 1px dashed grey;
  margin: 5px;
  padding: 5px;
  height: 20px;
}

/*match placeholder/watermark padding to border+padding for input element*/
label.placeholder {
  cursor: text;
  padding: 4px 4px 4px 4px;
  color: #999999;
}

/* html5 placeholder support */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color:#999999;
}

input:placeholder, textarea:placeholder {
  color:#999999;
}

a {
  text-decoration: none;
}